<div class="row">
	<div class="col-xs-4 col-md-2 sidebar">
		<ul class="menu">
			<li><h2>Admin</h2></li>
			<li class="item"><a class="selected" href="#/admin/general">General</a></li>
			<li class="item"><a href="#/admin/users">Users</a></li>
			<li class="item"><a href="#/admin/groups">Groups</a></li>
			<li class="item"><a href="#/admin/extensions">Extension Manager</a></li>
		</ul>
	</div>
	<div id="admin-content" class="col-xs-9">

	</div>
</div>
