<div class="row">
  <div class="col-xs-12 sidebar">
    <div class="folders-wrapper">
      <div id="folders">
        <ul class="clearfix">
          <li class="folder new" data-toggle="tooltip" data-title="Create a new data center">
                <a href="#" data-action="new-folder"></a>
              </li>
          <li class="folder">
            <a class="sys" data-id="ABC">
              <h3 class="folder-name">Palo Alto</h3>
          </a>
          <div class="bottom clearfix proxima-thin">
            <div class="pull-left">
              Last updated 3 days ago
            </div>
            <div class="btn-group dropdown pull-right">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="background: transparent;border: transparent;">
                <i class="fa fa-cog"></i>
              </a>
              <ul class="dropdown-menu">
                <div class="dropdown-caret"></div>
                <li data-id="ABC" class="export">
                  <a>
                    <i class="fa fa-download" style="margin-right: 5px;"></i> Export
                  </a>
                </li>
                <li data-id="ABC" class="export">
                  <a>
                    <i class="fa fa-share-square-o" style="margin-right: 5px;"></i> Share
                  </a>
                </li>
                <li class="divider"></li>
                <li data-id="ABC" class="delete">
                  <a>
                    <div class="fa fa-times" style="margin-right: 5px;"></div> Delete
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>
