<div class="header" style="height: 28px;background-color: rgb(29, 32, 36);line-height: 28px;">
    <div style="float: right;">
        <i class="icon-home" style="line-height: 28px;display: inline-block;color: #909090;font-size: 16px;color: #bbb;"></i>
        <i class="icon-lock" style="line-height: 28px;display: inline-block;color: #909090;font-size: 16px;color: #bbb;"></i>
        <i class="icon-user" style="line-height: 28px;display: inline-block;color: #909090;font-size: 16px;color: #bbb;"></i>
        <i class="icon-off" style="line-height: 28px;display: inline-block;color: #909090;font-size: 16px;color: #bbb;"></i>
    </div>
</div>