<div class="row">
  <div class="col-sx-12">
    <div class="mojitoPanel">
      <div class="mojitoPanelHeader">
        <i class="icon-hdd-o"></i>New Server
      </div>
      <div class="mojitoPanelContent" style="display: inline-block;width: 100%;">
        <form action="/api/server" method="POST">
          


        </form>
      </div>
    </div>
  </div>
</div>

