<div class="tr">
	<h3 style="margin-top: 30px;">Welcome to Corgi</h3>
	<br>
	<span class="text-muted">PLEASE LOG IN BELOW</span>
	<form id="login-form" action="/login" method="post" class="form">
		<div class="form-group <%= (obj.valid && obj.valid.username) ? 'has-error' : '' %>">
			<input type="text" class="form-control" name="username" placeholder="Username">
			<span class="help-block"><%= (obj.valid && obj.valid.username) ? obj.valid.username : '' %></span>
		</div>
		<div class="form-group <%= (obj.valid && obj.valid.password) ? 'has-error' : '' %>">
			<input type="password" class="form-control" name="password" placeholder="Password">
			<span class="help-block"><%= (obj.valid && obj.valid.password) ? obj.valid.password : '' %></span>
		</div>
		<div class="form-group" style="text-align: left;">
			<a href="#" style="border-bottom: 1px dashed #000;">Forgot Password?</a>
			<button type="submit" id="login-btn" class="btn btn-primary btn-xs pull-right">Log In</button>
		</div>
	</form>
</div> <!-- /#login -->
