<div class="tr">
	<h3 style="margin-top: 30px;">Welcome to Corgi</h3>
	<br>
	<span class="text-muted">PLEASE LOG IN BELOW</span>
	<form id="login-form" action="/login" method="post" class="form">
		<div class="form-group">
			<input type="text" class="form-control" id="username" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" id="password" name="password" placeholder="Password">
		</div>
		<div class="form-group" style="text-align: left;">
			<a href="#" style="border-bottom: 1px dashed #000;">Forgot Password?</a>
			<button type="submit" id="login-btn" class="btn btn-primary btn-xs pull-right">Log In</button>
		</div>
	</form>
</div> <!-- /#login -->
