<div class="tr">
	<h3 style="margin-top: 30px;"><i class="fa fa-magic"></i> Setup Information</h3>
	<form id="setup-form" class="form" method="POST" action="/setup">
		<legend>Database Details</legend>
		<fieldset>
			<p>Do you have MongoDB setup?</p>
			<button type="button" class="mongo-toggle btn btn-<%= obj.mongo === 'Yes' ? 'primary' : 'default' %>">Yes</button>
			<button type="button" class="mongo-toggle btn btn-<%= obj.mongo === 'No' ? 'primary' : 'default' %>">No</button>
			<input type="hidden" name="mongo" value="No"/>
			<p><blockquote>We recommend using a clustered MongoDB replica set for Corgi. If MongoDB is not available than Corgi will use an embedded database automatically. Please see the MongoDB Manual for more details.</blockquote></p>
			<div id="mongodb" class="<%= obj.mongo === 'No' ? 'hide' : '' %>">
				<div class="form-group <%= (obj.valid && obj.valid.mongoaddr) ? 'has-error' : '' %>">
					<label class="control-label">Mongo Server Address</label>
					<input type="text" class="form-control" name="mongoaddr" value="<%= obj.mongoaddr %>">
					<span class="help-block"><%= (obj.valid && obj.valid.mongoaddr) ? obj.valid.mongoaddr : '' %></span>
				</div>
				<div class="form-group <%= (obj.valid && obj.valid.mongoport) ? 'has-error' : '' %>">
					<label class="control-label">Mongo Port</label>
					<input type="text" class="form-control" name="mongoport" value="<%= obj.mongoport %>">
					<span class="help-block"><%= (obj.valid && obj.valid.mongoport) ? obj.valid.mongoport : '' %></span>
				</div>
			</div>
		</fieldset>
		<legend>Corgi Server Information</legend>
		<fieldset>
			<div class="form-group <%= (obj.valid && obj.valid.adminpassword) ? 'has-error' : '' %>">
				<label class="control-label">Admin User Password</label>
				<input type="password" class="form-control" name="adminpassword" placeholder="Password" value="<%= obj.adminpassword %>">
				<% if (obj.adminpassword_check) { %>
				<div class="bar" role="bar" style="z-index: 100;width: <%= (obj.adminpassword_check.score + 1) * 2 * 10 %>%;background: <%= obj.adminpassword_check.score < 2 ? 'red' : obj.adminpassword_check.score < 4 ? 'orange' : 'green' %>;height: 2px;transition: all 200ms ease; -webkit-transition: all 200ms ease;"></div>
				<% } %>
				<span class="help-block"><%= (obj.valid && obj.valid.adminpassword) ? obj.valid.adminpassword : '' %></span>
			</div>
			<div class="form-group <%= (obj.valid && obj.valid.adminemail) ? 'has-error' : '' %>">
				<label class="control-label">Admin Email</label>
				<input type="password" class="form-control" name="adminemail" placeholder="Email" value="<%= obj.adminemail %>">
				<span class="help-block"><%= (obj.valid && obj.valid.adminemail) ? obj.valid.adminemailll : '' %></span>
			</div>
			<div class="form-group <%= (obj.valid && obj.valid.websocketsaddr) ? 'has-error' : '' %>">
				<label class="control-label">Corgi Server Address</label>
				<input type="text" class="form-control" name="websocketsaddr" value="<%= obj.websocketsaddr %>">
				<span class="help-block"><%= (obj.valid && obj.valid.websocketsaddr) ? obj.valid.websocketsaddr : '' %></span>
			</div>
		</fieldset>
		<legend>Authentication Setup</legend>
		<fieldset>
			<p>Choose the login mechanism would you like to configure?</p>
			<button type="button" class="login-toggle btn btn-<%= obj.loginmechanism === 'Built-in' ? 'primary' : 'default' %>" style="margin-bottom: 30px;">Built-in</button>
			<button type="button" class="login-toggle btn btn-<%= obj.loginmechanism === 'LDAP' ? 'primary' : 'default' %>" style="margin-bottom: 30px;">LDAP</button>
			<input type="hidden" name="loginmechanism" value="No"/>
			<div id="ldap" class="<%= obj.loginmechanism === 'Built-in' ? 'hide' : '' %>">
				<div class="form-group <%= (obj.valid && obj.valid.ldapurl) ? 'has-error' : '' %>">
					<label class="control-label">LDAP URL</label>
					<input type="text" class="form-control" name="ldapurl" value="<%= obj.ldapurl %>">
					<span class="help-block"><%= (obj.valid && obj.valid.ldapurl) ? obj.valid.ldapurl : '' %></span>
				</div>
				<div class="form-group <%= (obj.valid && obj.valid.ldapadminuser) ? 'has-error' : '' %>">
					<label class="control-label">LDAP Administrator Dn</label>
					<input type="text" class="form-control" name="ldapadminuser" value="<%= obj.ldapadminuser %>">
					<span class="help-block"><%= (obj.valid && obj.valid.ldapadminuser) ? obj.valid.ldapadminuser : '' %></span>
				</div>
				<div class="form-group <%= (obj.valid && obj.valid.ldapadminpassword) ? 'has-error' : '' %>">
					<label class="control-label">LDAP Administrator Password</label>
					<input type="text" class="form-control" name="ldapadminpassword" value="<%= obj.ldapadminpassword %>">
					<span class="help-block"><%= (obj.valid && obj.valid.ldapadminpassword) ? obj.valid.ldapadminpassword : '' %></span>
				</div>
				<div class="form-group <%= (obj.valid && obj.valid.ldapsearchbase) ? 'has-error' : '' %>">
					<label class="control-label">LDAP Search Base</label>
					<input type="text" class="form-control" name="ldapsearchbase" value="<%= obj.ldapsearchbase %>">
					<span class="help-block"><%= (obj.valid && obj.valid.ldapsearchbase) ? obj.valid.ldapsearchbase : '' %></span>
				</div>
				<div class="form-group <%= (obj.valid && obj.valid.ldapsearchfilter) ? 'has-error' : '' %>" style="margin-bottom: 30px;">
					<label class="control-label">LDAP Filter</label>
					<input type="text" class="form-control" name="ldapsearchfilter" value="<%= obj.ldapsearchfilter %>">
					<span class="help-block"><%= (obj.valid && obj.valid.ldapsearchfilter) ? obj.valid.ldapsearchfilter : '' %></span>
				</div>
			</div>
		</fieldset>
		<legend>Polling Intervals (in secs)</legend>
		<fieldset>
			<div class="form-group <%= (obj.valid && obj.valid.pinginterval) ? 'has-error' : '' %>">
				<label class="control-label">Default Interval (PING)</label>
				<input type="text" class="form-control" name="pinginterval" value="<%= obj.pinginterval %>">
				<span class="help-block"><%= (obj.valid && obj.valid.pinginterval) ? obj.valid.pinginterval : '' %></span>
			</div>
			<div class="form-group <%= (obj.valid && obj.valid.monitorinterval) ? 'has-error' : '' %>">
				<label class="control-label">Default Interval (MONITOR)</label>
				<input type="text" class="form-control" name="monitorinterval" value="<%= obj.monitorinterval %>">
				<span class="help-block"><%= (obj.valid && obj.valid.monitorinterval) ? obj.valid.monitorinterval : '' %></span>
			</div>
		</fieldset>
		<fieldset style="text-align: center;">
			<button id="install" type="submit" class="btn btn-primary">Install</button>
		</fieldset>
	</form>
</div>
