<table class="table table-hover">
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Admin</td>
			<td>a@a.com</td>
			<td style="width: 16px;"><i class="fa fa-times"></i></td>
		</tr>
	</tbody>
</table>